@model IEnumerable<Luno_platform.Models.Instructor>
@{
    Layout = "~/Views/Shared/_navbar.cshtml";
}
<link rel="stylesheet" href="~/assets/css/show_all_teacher.css" />

<section class="teachers-section">
    <h2 class="section-title">كل <SPAN>المدرسين</SPAN></h2>


    <div class="teacher-search">
        <input type="text" placeholder="ابحث عن مدرس..." id="teacherSearchInput">
        <button id="searchBtn"><i class="fa-solid fa-search"></i></button>
    </div>
    
    <div class="teachers-grid">

        @foreach (var ins in Model)
        {
            <div class="teacher-card">
                <img src="@Url.Content(ins.User.Image)" alt="@ins.User.fname">
                <div class="teacher-info">
                    <h3> @ins.User.fname @ins.User.lastName</h3>
                    <p> @ins.Subject.SubjectNameAR </p>
                </div>
                <form action="/homepage/show_portfolio_teacher/@ins.instructorID" method="get">
                    <button class="buttom_teacher">ملف المعلم</button>
                </form>
                <a href="#" class="arrow-btn"><i class="fa-solid fa-arrow-left"></i></a>

            </div>

        }
 



        <div class="teacher-card">
            <img src="~/assets/imgs/a.jpg" alt="مستر حسن ممدوح">
            <div class="teacher-info">
                <h3>مستر حسن ممدوح</h3>
                <p>مدرس رياضيات</p>
            </div>
            <button class="buttom_teacher">ملف المعلم</button>
            <a href="#" class="arrow-btn"><i class="fa-solid fa-arrow-left"></i></a>

        </div>

        </div>

</section>

