@using Luno_platform.Viewmodel
@model mainPage_Student_ViewModel
@{
    Layout = "_SideBarDashbord";
}
@section Styles{
<link rel="stylesheet" href="/assets/css/mainpage.css" />
}
<div class="mainpage m-3" id="mainpage">
    <div class="container">
        <div class="HeadOfBody d-sm-flex flex-column flex-sm-row text-center text-sm-end gap-3">
            <div class="img">
                <img src=" @Model.Student.Image" alt="student_img" />
                
            </div>
            <div class="text">
                <h2>@Model.Student.User.fname @Model.Student.User.lastName</h2>
                <p>@Model.Student.Classes.ClassName</p>
            </div>
        </div>
        <div class="progres">
            <div class="overall-prog flex-column flex-md-row">
                <div class="text">
                    <p class="main-text">المستوي الكلي</p>
                    <p class="sec-text">
                        نسبه مجموع الدرجات في الامتحانات + مجموع التاسكات التي تم
                        تسليمها حتي اليوم
                    </p>
                </div>
                <div id="semiContainer"></div>
            </div>
            <div class="deteils-prog d-md-flex justify-content-between">
                <div class="exams col-md-5 flex-column flex-md-row">
                    <div class="text">
                        <p class="main-text">الامتحان</p>
                        <p class="sec-text">
                            نسبه مجموع الدرجات في الامتحانات حتي اليوم
                        </p>
                    </div>
                    <div id="semiContainerEXAM"></div>
                </div>
                <div class="tasks col-md-5 flex-column flex-md-row">
                    <div class="text">
                        <p class="main-text">الواجبات</p>
                        <p class="sec-text">
                            نسبه مجموع التاسكات التي تم تسليمها حتي اليوم
                        </p>
                    </div>
                    <div id="semiContainerTASK"></div>
                </div>
            </div>
        </div>
        <div class="courses">
            <div class="text"><p>الكورسات المشترك بها</p></div>
            <div class="courses-card d-flex flex-column flex-md-row">
                @foreach (var course in Model.Courses)
                { 
                <div class="card-courses">
                    <div class="image-courses">
                        <img class="" src="@course.Image" alt="" />
                    </div>
                    <div class="body-course">
                        <div class="bodytop">
                            <div class="bodyright">
                                <div class="brtop">
                                    <p>@course.CourseName
                                    </p>
                                </div>
                                <div class="brmid">
                                    <p>
                                            @course.description
                                    </p>
                                </div>
                                
                            </div>
                            <div class="bodyleft">
                                <a class=""> الدخول للكوس</a>
                                
                            </div>
                        </div>
                        <div class="bodybuttom">
                            <div class="price"><span>@course.price</span> جنيهًا</div>
                            <div class="date">
                                <h3>@course.createdAt</h3>
                                
                            </div>
                        </div>
                    </div>


                </div>
                }
            </div>
        </div>
        <div class="courses">
            <div class="text"><p>الكورسات المقترحه لك</p></div>
            <div class="courses-card d-flex flex-column flex-md-row">
                <div class="card-courses">
                    <div class="image-courses">
                        <img class="" src="/assets/imgs/testImg.jpg" alt="" />
                    </div>
                    <div class="body-course">
                        <div class="bodytop">
                            <div class="bodyright">
                                <div class="brtop">
                                    <p>
                                        الترم الأول كاملًا (الباقة المخفضة) - (محمد صلاح - لغة
                                        عربية - 2 ثانوي )
                                    </p>
                                </div>
                                <div class="brmid">
                                    <p>
                                        هذه الباقة عبارة عن اشتراك الترم الأول كاملًا (3 شهور)
                                        بسعر مخفض في مادة اللغة العربية بما في ذلك الامتحانات
                                        الشاملة
                                    </p>
                                </div>
                            </div>
                            <div class="bodyleft">
                                <a class=""> الدخول للكوس</a>
                                <a class="subscribe"> اشتراك الان!</a>
                            </div>
                        </div>
                        <div class="bodybuttom">
                            <div class="price"><span>294.00</span> جنيهًا</div>
                            <div class="date">
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-courses">
                    <div class="image-courses">
                        <img class="" src="/assets/imgs/testImg.jpg" alt="" />
                    </div>
                    <div class="body-course">
                        <div class="bodytop">
                            <div class="bodyright">
                                <div class="brtop">
                                    <p>
                                        الترم الأول كاملًا (الباقة المخفضة) - (محمد صلاح - لغة
                                        عربية - 2 ثانوي )
                                    </p>
                                </div>
                                <div class="brmid">
                                    <p>
                                        هذه الباقة عبارة عن اشتراك الترم الأول كاملًا (3 شهور)
                                        بسعر مخفض في مادة اللغة العربية بما في ذلك الامتحانات
                                        الشاملة
                                    </p>
                                </div>
                            </div>
                            <div class="bodyleft">
                                <a class=""> الدخول للكوس</a>
                                <a class="subscribe"> اشتراك الان!</a>
                            </div>
                        </div>
                        <div class="bodybuttom">
                            <div class="price"><span>294.00</span> جنيهًا</div>
                            <div class="date">
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-courses">
                    <div class="image-courses">
                        <img class="" src="/assets/imgs/testImg.jpg" alt="" />
                    </div>
                    <div class="body-course">
                        <div class="bodytop">
                            <div class="bodyright">
                                <div class="brtop">
                                    <p>
                                        الترم الأول كاملًا (الباقة المخفضة) - (محمد صلاح - لغة
                                        عربية - 2 ثانوي )
                                    </p>
                                </div>
                                <div class="brmid">
                                    <p>
                                        هذه الباقة عبارة عن اشتراك الترم الأول كاملًا (3 شهور)
                                        بسعر مخفض في مادة اللغة العربية بما في ذلك الامتحانات
                                        الشاملة
                                    </p>
                                </div>
                            </div>
                            <div class="bodyleft">
                                <a class=""> الدخول للكوس</a>
                                <a class="subscribe"> اشتراك الان!</a>
                            </div>
                        </div>
                        <div class="bodybuttom">
                            <div class="price"><span>294.00</span> جنيهًا</div>
                            <div class="date">
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-courses">
                    <div class="image-courses">
                        <img class="" src="/assets/imgs/testImg.jpg" alt="" />
                    </div>
                    <div class="body-course">
                        <div class="bodytop">
                            <div class="bodyright">
                                <div class="brtop">
                                    <p>
                                        الترم الأول كاملًا (الباقة المخفضة) - (محمد صلاح - لغة
                                        عربية - 2 ثانوي )
                                    </p>
                                </div>
                                <div class="brmid">
                                    <p>
                                        هذه الباقة عبارة عن اشتراك الترم الأول كاملًا (3 شهور)
                                        بسعر مخفض في مادة اللغة العربية بما في ذلك الامتحانات
                                        الشاملة
                                    </p>
                                </div>
                            </div>
                            <div class="bodyleft">
                                <a class=""> الدخول للكوس</a>
                                <a class="subscribe"> اشتراك الان!</a>
                            </div>
                        </div>
                        <div class="bodybuttom">
                            <div class="price"><span>294.00</span> جنيهًا</div>
                            <div class="date">
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                                <h3>السبت، ٢٣ أغسطس ٢٠٢٥</h3>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
@section script {

<script src="~/assets/js/mainprogres.js"></script>

}