@using Luno_platform.Viewmodel
@model List<StudentCourseFullDataVM>;
@{
    Layout = "_SideBarDashbord";
}
@section Styles {
    <link rel="stylesheet" href="/assets/css/Reports.css">
    
}
<div class="Reportspage m-3 bodycontent" id="Reportspage">
    <div class="container text-center mt-3">
        <div class="search">
            <input type="search"
                   id="reportSearch"
                   class="form-control me-3"
                   placeholder="اكتب للبحث" />
            <i class="fa-solid fa-magnifying-glass icon me-3 btn btn-outline-success me-1 icon"></i>
        </div>

        <div class="flexToProg">
            <div class="sub-choose d-flex mb-3">
                <div class="dropdown choose-Sub">
                    <button class="btn dropdown-toggle repbtn"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        اختر المادة
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item"  href="#" onclick="filterCourse('all')">الكل</a>
                        @{
                            var uniqueSubjects = Model
                            .Where(c => c.SubjectNameAR != null)
                            .GroupBy(c => c.SubjectNameAR)
                            .Select(g => g.Key) // اسم المادة فقط
                            .ToList();
                        }

                        @foreach (var subject in uniqueSubjects)
                        {
                            <li>
                                <a class="dropdown-item"
                                   data-subject="@subject"
                                   href="#"
                                   onclick="filterCourse('@subject')">
                                    @subject
                                </a>
                            </li>
                        }

                        @* @foreach (var course in Model){
                        <li>
                                <a class="dropdown-item" data-subject="@course.SubjectNameAR" href="#" onclick="filterCourse('@(course.SubjectNameAR ?? "لا يوجد مادة")')">@course.SubjectNameAR</a>
                            </li>
                        } *@
                        
                    </ul>
                </div>
                <div class="input-group">
                    <input type="text" id="studentName" value="الكل" disabled />
                    <label for="studentName">اسم المادة</label>
                </div>
            </div>

            <div id="semiContainer"></div>

        </div>

        <!-- جدول عربي -->
        <div class="table-responsive">
            <table class="table subject-table table-striped table table-hover text-center align-middle table_Edit"
                   id="arabic">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اسم الكورس</th>
                        <th>تسليم الواجب</th>
                        <th>درجات الامتحان</th>
                    </tr>
                </thead>
                <tbody id="courseTable">
                    @foreach (var course in Model)
                    {
                        <tr data-subject="@course.SubjectNameAR">

                            <th>@course.CourseId</th>
                            <td>@course.CourseName</td>
                            <td>تم التسليم</td>
                            <td>@course.Degree</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section script {
   
     <script src="/assets/js/prog.js"></script>
    <script src="~/assets/js/Subjects.js"></script>
}